/**
 * Blocks on front end
 *
 * This describes classes set by colors args in the functions file.
 *
 * @see functions.php/setup
 */
@import '_variables';

// Block editor background color classes.
.has-mixes-text-background-color {
	background-color: $text;
}

.has-mixes-light-gray-background-color {
	background-color: $theme_light;
}

.has-mixes-pale-gray-background-color {
	background-color: $pale_gray;
}

.has-mixes-white-background-color {
	background-color: $white;
}

.has-mixes-error-background-color {
	background-color: $error;
}

.has-mixes-warning-background-color {
	background-color: $warning;
}

.has-mixes-success-background-color {
	background-color: $success;
}

// Block editor text color classes.
.has-mixes-text-color {
	color: $text;
}

.has-mixes-light-gray-color {
	color: $theme_light;
}

.has-mixes-pale-gray-color {
	color: $pale_gray;
}

.has-mixes-white-color {
	color: $white;
}

.has-mixes-error-color {
	color: $error;
}

.has-mixes-warning-color {
	color: $warning;
}

.has-mixes-success-color {
	color: $success;
}