/**
 * Posts and pages
 */
 .sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-title {
	text-align: center;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta,
.entry-footer {
	margin-top: $px16;
	text-align: center;
	line-height: 1;
}

.entry-meta {
	font-family: $headings;
	font-weight: 500;
}

.entry-footer span:not(.post-meta-icon) {
	margin-right: 1em;
	font-weight: 600;
	line-height: 1;
}

.post-meta-icon {
	line-height: 1;
	color: $theme_color;

	svg {
		display: inline-block;
		width: $px18;
		vertical-align: middle;
		fill: currentColor;
	}
}

/**
 * Content Grids
 */
.posts-grid {

	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0.5em 0.5em;
		padding-left: 0;
		list-style: none;

		li {

			a {
				display: block;
				text-decoration: none;
			}

			h3 {
				color: $text;

				&:hover,
				&:focus {
					color: $theme_color;
				}
			}
		}

		figure {

			img {
				display: block;
			}
		}

		.posts-grid-summary {
			margin-top: 0.5;
			line-height: 1.25;
			font-size: $px17;
		}

		.posts-grid-link {
			font-size: $px17;
			line-height: 1;

			a {
				font-weight: bold;
				font-weight: 600;

				svg {
					display: inline-block;
					width: 1em;
					height: 1em;
					vertical-align: middle;
					margin-left: 0;
					fill: currentColor;
				}
			}
		}
	}
}

@media screen and (min-width: 37.5em) {

	.entry-title,
	.entry-meta,
	.entry-footer {
		text-align: left;
	}

}