/**
 * Posts and pages
 */
 .sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.blog .site-main article:not(:first-of-type),
.archive:not(.post-type-archive) .site-main article:not(:first-of-type) {
	margin-top: $px48;
	border-top: solid 1px $theme_pale;
}

.entry-title {
	text-align: center;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta,
.entry-footer {
	margin-top: $px16;
	text-align: center;
	line-height: 1;
}

.entry-content ~ .entry-footer {
	margin-top: $px30;
}

.entry-meta {
	font-family: $headings;
	font-weight: 500;
}

.entry-footer span:not(.post-meta-icon) {
	margin-right: 1em;
	font-weight: 600;
	line-height: 1;
}

.post-meta-icon {
	line-height: 1;
	color: $theme_color;

	svg {
		display: inline-block;
		width: $px18;
		vertical-align: middle;
		fill: currentColor;
	}
}

/**
 * Recipe pages
 */
.recipe-archive-content {
	display: flex;
	flex-direction: column-reverse;
}

.recipe-section {
	clear: both;
}

.recipe-ingredients {

	ul {

		li {
			margin-top: 0.5em;
			line-height: 1.2;

			.ingredients-list-comment {
				font-size: $px15;
				font-style: italic;
			}
		}
	}
}

.recipe-video {
	margin-top: $px30;
	margin-bottom: $px52;

	iframe {
		margin-top: $px20;
	}
}

.recipe-gallery {
	margin-top: $px30;
}

.related-recipes {
	clear: both;
	margin-top: $px30;
	border-top: solid 1px $theme_pale;
}

/**
 * Content Grids
 */
.posts-grid {

	ul {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap:$px30 0;
		padding-left: 0;
		list-style: none;

		li {

			a {
				text-decoration: none;
			}

			h3 {
				margin-top: 0.625em;
				line-height: 1.3;
				color: $text;

				&:hover,
				&:focus {
					color: $theme_color;
				}
			}
		}

		figure {

			a {
				display: block;
			}

			img {
				display: block;
			}
		}

		.posts-grid-summary {
			margin-top: 0.25rem;
			line-height: 1.25;
			font-size: $px17;
		}

		.posts-grid-link {
			font-size: $px17;
			line-height: 1;

			a {
				font-weight: bold;
				font-weight: 600;

				svg {
					display: inline-block;
					width: 1em;
					height: 1em;
					vertical-align: middle;
					margin-left: 0;
					fill: currentColor;
				}
			}
		}
	}
}

@media screen and (min-width: 769px) {

	.entry-title,
	.entry-meta,
	.entry-footer {
		text-align: left;
	}

	.recipe-archive-content {
		flex-direction: column;
	}

	.posts-grid {

		&.recipe-archive-grid {
			margin-top: $px40;
		}

		ul {
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 1em 0.5em;
		}
	}

}