/**
 * Header
 */
.site-header {
	padding: 0 $px20;
}

.site-branding {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: first baseline;
	   -moz-box-align: first baseline;
	    -ms-flex-align: first baseline;
			align-items: first baseline;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.site-title {
	width: 100%;
	margin: $px16 0 0 0;
	font-family: $headings;
	font-size: 10vw;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;

	& a {
		text-decoration: none;
	}

	.title-span-one {
		font-weight: 400;
		color: $theme_color;
		letter-spacing: -0.003em;
	}

	.title-span-two {
		margin-left: -0.15em;
		font-size: 1.03em;
		font-weight: 600;
		color: $theme_light;
	}
}

.site-description {
	width: 100%;
	margin: 0.5em 0 0 0;
	font-size: $px21;
	font-weight: 400;
	font-style: italic;
	line-height: 1.25;
	text-align: center;
	color: $theme_color;
}

.logo-link {
	display: inline-block;
	margin: 0 auto;
}

.custom-logo {
	display: block;
	max-width: 120px;
	height: auto;
}

body {

	.site-header-image {
		margin: 2rem auto 0;
		background: #222;
		color: #fff;
		margin-left: calc( -100vw / 2 + 100% / 2 );
		margin-right: calc( -100vw / 2 + 100% / 2 );
		max-width: 100vw;

		figure {
			width: 100%;
			position: relative;
			overflow: hidden;
			margin: 0;

			img {
				display: block;
				width: 100%;
				height: 30vw;
				min-height: 350px;
				max-height: 600px;
				-o-object-fit: cover;
				   object-fit: cover;
				font-size: 0px;
			}

			figcaption {
				box-sizing: border-box;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 100;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 2rem;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-moz-box-orient: vertical;
				-moz-box-direction: normal;
					-ms-flex-direction: column;
						flex-direction: column;
				-webkit-box-align: center;
				-moz-box-align: center;
					-ms-flex-align: center;
						align-items: center;
				-webkit-box-pack: center;
				-moz-box-pack: center;
					-ms-flex-pack: center;
						justify-content: center;
				background: rgba(0,0,0,0.5325);
				text-align: center;
				color: $white;

				.hero-header {
					margin: 0 auto;
					max-width: 720px;
				}

				h1,
				h2 {
					font-size: $px37;
					line-height: 1.2;
					letter-spacing: 0.03em;
					color: $white;
					text-shadow: 0.05em 0.05em 0.05em rgba(0,0,0,0.7);
				}

				p {
					font-size: $px19;
					font-weight: 600;
					text-shadow: 0.05em 0.05em 0.05em rgba(0,0,0,0.7);
				}
			}
		}
	}
}

@media screen and (min-width: 769px) {

	.site-branding {
		flex-direction: row;
		justify-content: flex-start;
		margin: 0;
	}

	.site-title {
		margin-top: 0;
		font-size: $px52;
		text-align: left;
	}

	.site-description {
		margin: 0.5em 0 0 0.5em;
		font-size: $px19;
		text-align: left;
	}

	.logo-link {
		margin: 0;
	}

	.custom-logo {
		max-height: 80px;
	}
}