/**
 * Images
 */
 img {
	font-size: 75%; /* alt text */
}

img,
figure {

	&.alignright,
	&.alignleft,
	&.aligncenter {
		width: 100% !important;
		display: block;
		margin: 1em auto;
	}

	&.alignfull {
		position: relative;
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		clear: both;
		width: 100vw;
		max-width: 100vw;
		overflow-x: hidden;
		margin: 1em 0 0;
	}

	&.alignnone {
		margin: 0;
	}
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.aligncenter {
	display: block;
	margin: 1em auto;
}

.blog .post-thumbnail,
.archive .post-thumbnail {
	margin-top: 1em;
}

.excerpt-thumbnail {
	float: none;
	margin-top: 1em;
}

.wp-caption {

	& img {
		display: block;
	}

	& .wp-caption-text {
		margin-top: 0.25em;
		font-size: 0.85em;
		line-height: 1.3;
		text-align: center;
	}
}

.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 0.5em 0.5em;
	list-style: none; /*for galleries as list elements */
	margin-top: $px20 !important;

	br {
		display: none;
	}

	& .gallery-item {
		position: relative;
		float: none !important;
		display: block !important;
		width: auto !important;
		margin: 0 !important;

		.gallery-icon {
			display: block !important;

			a {
				display: block !important;
			}
		}

		& img {
			display: block;
			-o-object-fit: contain;
			   object-fit: contain;
			width: 100%;
			border: none !important;
		}
	}

	& .gallery-caption {
		font-size: 0.85em;
		line-height: 1.3;
		text-align: center;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 0.5em 0.5em 0.8em;
		background: rgba(0,0,0,0.5325);
		color: #fff;
		text-shadow: 0.05em 0.05em 0.05em rgba(0,0,0,0.7);
	}
}

.avatar {
	border-radius: 50%;
}

.author-avatar {
	display: inline-block;
	vertical-align: middle;
	max-width: 48px;
	margin-right: 0.5em;
}

@media screen and (min-width: 769px) {

	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}

	img,
	figure {

		&.alignright,
		&.alignleft,
		&.aligncenter {
			width: auto !important;
			display: inline-block;
		}

		&.alignright {
			margin: 1em 0 0 1em;
		}

		&.alignleft {
			margin: 1em 1em 0 0;
		}

		&.aligncenter {
			display: block;
			margin: 1em auto;
		}
	}

	.entry-content p img,
	.entry-excerpt img {

		&.alignleft {
			margin: 0 1em 1em 0;
		}

		&.alignright {
			margin: 0 0 1em 1em;
		}

		&.aligncenter {
			margin: 2em auto;
		}
	}

	.gallery {
		grid-template-columns: repeat(3, 1fr);
	}

	.excerpt-thumbnail {
		float: right;
		margin: 0;
		max-width: 240px;
	}
}

/**
 * Fontend styles.
 */

 /* Touch up native Fancybox styles */
 .fancybox-caption-wrap {
	padding: 30px !important;
}

button.fancybox-arrow:hover,
button.fancybox-arrow:focus,
button.fancybox-arrow:active {
	background: transparent !important;
}

.fancybox-thumbs {
	background: #2a2a2a !important;
}

.fancybox-thumbs__list a::before {
    border-color: $white !important;
}

.fancybox-thumbs > ul > li {
	border-color: transparent !important;
}

.logged-in.admin-bar .fancybox-container {
	top: 32px !important;
}