/**
 * Comments
 */
.comments-area {
	margin-top: $px20;
	border-top: solid 1px $theme_pale;
}

.comments-title {
	font-size: $px21;
	font-weight: 500;
	text-transform: none;
	color: $theme_dark;
}

.comment-list {
	padding-left: 1em;

	ol {
		margin-left: 1em;
	}
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

#wp-comment-cookies-consent {
	margin-right: 0.5em;
}