body:not(.home) .site-content {
	display: flex;
	flex-direction: column;

	.content-area {
		flex-grow: 2;
	}
}

.site {
	max-width: 1280px;
	margin: 0 auto;
}

.site-content {
	margin-top: $px16;
	padding: 0 $px20;
}

main article {
	clear: both;
}

@media screen and (min-width: 37.5em) {

	body:not(.home) .site-content {
		flex-direction: row;
	}

	.site-content {
		margin-top: $px40;
	}

}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}