/**
 * Navigation
 */
 .main-navigation {
	clear: both;
	display: block;
	width: 100%;
	margin-top: 1em;

	&.toggled {
		margin-bottom: 2em;
	}

	.menu-toggle-wrap {
		padding: 0 $px20 1em;
		text-align: center;
	}

	& ul {
		display: none;
		list-style: none;
		margin: 0;
		background: $theme_dark;
		color: $white;

		& ul {
			width: auto;
			z-index: 99999;
			display: none;
			padding: 0 1em;

			& ul {
				right: 0;
				top: 0;
				display: none;
			}

			li {

				a:before {
					content: '- ';
				}
			}

			& li:hover > ul,
			& li.focus > ul {
				display: block;
			}
		}

		& li:hover > ul,
		& li.focus > ul {
			display: block;
		}
	}

	& li {
		position: relative;
		width: auto;
		font-family: $headings;
		font-size: $px19;
		font-weight: 500;
		font-variant: small-caps;

		&.menu-item-has-children {
			padding-bottom: 0;
		}
	}

	& a {
		display: inline-block;
		width: 100%;
		padding: 0.3em $px20;
		text-decoration: none;
		color: $white;
		-webkit-transition: color .15s;
		transition: all .15s;

		&:hover,
		&:focus {
			background: $theme_color;
		}
	}

	.menu-toggle {
		display: inline-block;
		background: none;
		border: none;
		font-family: $headings;
		font-size: $px27;
		font-weight: 600;
		font-variant: small-caps;
		color: $theme_light;

		svg {
			display: inline-block;
			width: 1em;
			height: 1em;
			vertical-align: text-top;
			fill: currentColor;

			&.menu-close-icon {
				display: none;
				width: 1.2em;
				height: 1.2em;
			}
		}
	}

	&.toggled {

		.menu-toggle {

			svg {

				&.menu-close-icon {
					display: inline-block;
				}

				&.menu-open-icon {
					display: none;
				}
			}
		}

		ul {
			display: block;
		}
	}
}

.no-js .menu-toggle-wrap {
	display: none;
}

@media screen and (min-width: 37.5em) {

	.main-navigation {
		margin: 1em 0 0;

		ul {
			display: block;
			padding-bottom: 0;
			text-align: right;
			background: $white;
			color: $theme_color;

			ul {
				position: absolute;
				top: 100%;
				right: -$px20;
				padding: 0.5em $px20;
				min-width: 160px;
				background: $theme_color;
				color: $white;

				li {
					margin-right: 0;

					a:before {
						content: '';
					}

					a {
						width: auto;
						padding: 0.3em 0;
						color: $white;

						&:hover,
						&:focus {
							color: $theme_pale;
						}
					}
				}
			}

			li {
				display: inline-block;
				position: relative;
				margin-right: 1em;

				a {
					padding: 0;
					color: $theme_color;

					&:hover,
					&:focus {
						background: none;
					}
				}
			}
		}

		.menu-toggle-wrap {
			display: none;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	margin-top: 2em;
	overflow: hidden;

	svg {
		display: inline-block;
		vertical-align: middle;
		width: 1em;
		height: 1em;
		fill: currentColor;
	}

	.nav-previous {
		float: left;
		width: 50%;

		.theme-icon {
			margin-right: 0.3em;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;

		.theme-icon {
			margin-left: 0.3em;
		}
	}
}