/**
 * Navigation
 */
 .main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin-top: 1em;
	font-family: $headings;
	font-size: $px19;
	font-weight: 500;
	font-variant: small-caps;

	& ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		& ul {
			-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: right;
			position: absolute;
			top: 100%;
			right: -999em;
			z-index: 99999;
			padding: 0.5em 1em;
			background: $white;

			& ul {
				left: -999em;
				top: 0;
			}

			& li:hover > ul,
			& li.focus > ul {
				right: 100%;
			}

			& a {
				width: auto;
			}
		}

		& li:hover > ul,
		& li.focus > ul {
			right: 0;
		}
	}

	& li {
		position: relative;
		margin-top: 0.5em;
	}

	& a {
		display: inline-block;
		text-decoration: none;
		color: $gray;
		transition: color .15s;

		&:hover,
		&:focus {
			color: $blue;
		}
	}

	.menu-toggle {
		display: block;
		background: none;
		border: none;
		color: $gray;

		svg {
			display: inline-block;
			width: 1em;
			height: 1em;
			vertical-align: text-top;
			fill: currentColor;

			&.menu-close-icon {
				display: none;
				width: 1.2em;
				height: 1.2em;
			}
		}
	}

	&.toggled {

		.menu-toggle {

			svg {

				&.menu-close-icon {
					display: inline-block;
				}

				&.menu-open-icon {
					display: none;
				}
			}
		}

		ul {
			display: block;
		}
	}
}

.no-js .menu-toggle {
	display: none;
}

@media screen and (min-width: 37.5em) {

	.main-navigation {

		ul {
			display: block;
			text-align: right;
		}

		div > ul > li {
			display: inline;
			position: relative;
			margin-right: 1em;
		}

		.menu-toggle {
			display: none;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	margin-top: 2em;
	overflow: hidden;

	svg {
		display: inline-block;
		vertical-align: middle;
		width: 1em;
		height: 1em;
		fill: currentColor;
	}

	.nav-previous {
		float: left;
		width: 50%;

		.theme-icon {
			margin-right: 0.3em;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;

		.theme-icon {
			margin-left: 0.3em;
		}
	}
}