/**
 * Navigation
 */
.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	margin-top: 1em;

	&.toggled {
		margin-bottom: 2em;
	}

	.menu-toggle-wrap {
		padding: 0 $px20 1em;
		text-align: center;
	}

	& ul {
		display: none;
		list-style: none;
		margin: 0;
		background: $theme_dark;
		color: $white;

		& ul {
			width: auto;
			z-index: 99999;
			display: none;
			padding: 0 1em;

			& ul {
				right: 0;
				top: 0;
				display: none;
			}

			li {

				a:before {
					content: '- ';
				}
			}

			& li:hover > ul,
			& li.focus > ul {
				display: block;
			}
		}

		& li:hover > ul,
		& li.focus > ul {
			display: block;
		}
	}

	& li {
		position: relative;
		width: auto;
		font-family: $headings;
		font-size: $px19;
		font-weight: 500;
		font-variant: small-caps;

		&.menu-item-has-children {
			padding-bottom: 0;
		}
	}

	& a {
		display: inline-block;
		width: 100%;
		padding: 0.3em $px20;
		text-decoration: none;
		color: $white;
		-webkit-transition: color .15s;
		-webkit-transition: all .15s;
		transition: all .15s;

		&:hover,
		&:focus {
			background: $theme_color;
		}
	}

	.menu-toggle {
		display: inline-block;
		background: none;
		border: none;
		font-family: $headings;
		font-size: $px27;
		font-weight: 600;
		font-variant: small-caps;
		color: $theme_light;

		svg {
			display: inline-block;
			width: 1em;
			height: 1em;
			vertical-align: text-top;
			fill: currentColor;

			&.menu-close-icon {
				display: none;
				width: 1.2em;
				height: 1.2em;
			}
		}
	}

	&.toggled {

		.menu-toggle {

			svg {

				&.menu-close-icon {
					display: inline-block;
				}

				&.menu-open-icon {
					display: none;
				}
			}
		}

		ul {
			display: block;
		}
	}
}

.no-js .menu-toggle-wrap {
	display: none;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	margin-top: 2em;
	overflow: hidden;
	font-size: $px19;
	font-weight: bold;
	font-weight: 500;
}

.nav-links {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
			align-items: center;
	font-family: $headings;

	.nav-previous {

		.theme-icon {
			margin-right: 0.3em;
		}
	}

	.nav-next {
		text-align: right;

		.theme-icon {
			margin-left: 0.3em;
		}
	}

	svg {
		display: inline-block;
		vertical-align: middle;
		width: 1em;
		height: 1em;
		fill: currentColor;
	}
}

.read-more {
	font-weight: 500;

	svg {
		display: inline-block;
		vertical-align: middle;
		width: 1em;
		height: 1em;
		fill: currentColor;
	}
}

@media screen and (min-width: 481px) {

	.nav-links {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		   -moz-box-orient: horizontal;
		   -moz-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-align: normal;
		   -moz-box-align: normal;
		    -ms-flex-align: normal;
				align-items: normal;
		justify-content: space-between;
	}
}

@media screen and (min-width: 769px) {

	.main-navigation {
		margin: 1em 0 0;

		ul {
			display: block;
			padding-bottom: 0;
			text-align: right;
			background: $white;
			color: $theme_color;

			ul {
				position: absolute;
				top: 100%;
				right: -$px20;
				padding: 0.5em $px20;
				min-width: 160px;
				background: $theme_color;
				color: $white;

				li {
					margin-right: 0;

					a:before {
						content: '';
					}

					a {
						width: auto;
						padding: 0.3em 0;
						color: $white;

						&:hover,
						&:focus {
							color: $theme_pale;
						}
					}
				}
			}

			li {
				display: inline-block;
				position: relative;
				margin-right: 1em;

				a {
					padding: 0;
					color: $theme_color;

					&:hover,
					&:focus {
						background: none;
					}
				}
			}
		}

		.menu-toggle-wrap {
			display: none;
		}
	}
}