/**
 * Search
 */
.search-page {

	.search-page-content {

		section:not(:first-of-type) {
			margin-top: 2em;
			border-top: solid 1px $pale_gray;
		}
	}
}

.search-page-widget,
.recipe-search-widget {

	ul {
		width: 100%;
		padding: 0;

		li {
			display: block;
			margin: 0.3em 0 0;

			input:not([type="submit"]),
			select {
				width: 100%;
				max-width: 100%;
				margin: 0;
			}
		}
	}

	br {
		display: none;
	}
}

@media screen and (min-width: 769px) {

	.search-page-widget,
	.recipe-search-widget {

		ul {

			li {
				display: inline-block;
				margin: 0 0.3em 0 0;

				input,
				select {
					width: auto;
					max-width: 640px;
				}
			}
		}
	}

}