/**
 * SASS/SCSS variables
 *
 * The following variables are used in other .scss files.
 * Make sure that this files is called early in style,scss.
 *
 * @link https://sass-lang.com/documentation/variables
 */
/**
 * Colors
 *
 * Some variables use colors set by args in the functions file.
 *
 * @see functions.php/setup
 */
/**
 * Font sizes
 *
 * The font size variables presume a browser default of 16px,
 * in which case the variable number is equivelent to a px number.
 *
 * SASS compiler may not like variables beginning with a numeral.
 */
/**
 * Typography
 */
body {
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #333333;
}

.serif {
  font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, Times, 'Times New Roman', serif;
}

.entry-content,
.sidebar,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 1em;
}

h1,
h2,
h3 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
  color: #777777;
}

h1 a:visited,
h2 a:visited,
h3 a:visited {
  color: #777777;
}

h1 a:hover, h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus {
  color: #0088aa;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #777777;
}

h1.page-title,
h2.page-title {
  font-size: 1.625rem;
  text-transform: none;
}

h3 {
  font-size: 1.3125rem;
  font-weight: 500;
  color: #555555;
}

a,
.taxonomy-heading-links a {
  color: #0088aa;
}

a:visited,
.taxonomy-heading-links a:visited {
  color: #0088aa;
}

a:hover, a:focus,
.taxonomy-heading-links a:hover,
.taxonomy-heading-links a:focus {
  color: #7752ad;
}

.entry-content ul,
.sidebar-widgets ul,
.entry-content ol,
.sidebar-widgets ol {
  padding-left: 1em;
}

b,
strong {
  color: #555555;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/**
 * Admin toolbar
 */
#wpadminbar {
  color: #ffffff;
  background: #777777;
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon,
#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: #eee;
}

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #ffffff;
  background: #999999;
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
  color: #ffffff;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
  color: #ffffff;
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #777777;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #999999;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: #ffffff;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #ffffff;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
  background: #999999;
  color: #ffffff;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
  color: #ffffff;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
  color: #ffffff;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #ffffff;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #777777;
  background: #eee;
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border: none;
  background-color: #777777;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #ffffff;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #ffffff;
}

#wpadminbar #wp-admin-bar-user-info .username {
  color: #ffffff;
}

/**
 * Header
 */
.site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: first baseline;
  -ms-flex-align: first baseline;
  align-items: first baseline;
  width: 100%;
}

.site-title {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 2.9375rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.site-title a {
  text-decoration: none;
}

.site-title .title-span-one {
  font-weight: 400;
  color: #777777;
  letter-spacing: -0.003em;
}

.site-title .title-span-two {
  font-size: 1.03em;
  font-weight: 600;
  color: #999999;
}

.site-description {
  margin: 0.5em 0 0 0.5em;
  font-size: 1.1875rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.25;
  color: #777777;
}

.custom-logo {
  display: block;
  max-width: 60px;
  height: auto;
  margin-right: 0.325rem;
}

body .site-header-image {
  margin: 2rem auto 0;
  background: #222;
  color: #fff;
  margin-left: calc( -100vw / 2 + 100% / 2);
  margin-right: calc( -100vw / 2 + 100% / 2);
  max-width: 100vw;
}

body .site-header-image figure {
  width: 100%;
  position: relative;
  overflow: hidden;
}

body .site-header-image figure img {
  display: block;
  width: 100%;
  height: 30vw;
  min-height: 350px;
  max-height: 600px;
  -o-object-fit: cover;
  object-fit: cover;
}

body .site-header-image figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5325);
  text-align: center;
  color: #ffffff;
}

body .site-header-image figure figcaption .hero-header {
  margin: 0 auto;
  max-width: 720px;
}

body .site-header-image figure figcaption h1,
body .site-header-image figure figcaption h2 {
  font-size: 2.3125rem;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.7);
}

body .site-header-image figure figcaption p {
  font-size: 1.1875rem;
  font-weight: 600;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.7);
}

body {
  padding-right: 2em;
}

#wpbody {
  max-width: 1280px;
  margin: 0 auto;
}

.wrap {
  margin: 2em 0 0;
}

.wrap > h1,
.welcome-panel h2 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.6875rem;
  font-weight: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.0475em;
  color: #777777;
}

.welcome-panel h2 {
  font-size: 1.125rem;
  font-weight: bold;
  font-weight: 600;
  letter-spacing: 0.075em;
}

p.description.about-description {
  font-size: 1rem;
}

#screen-meta {
  margin: 0 0 -1px 0;
}

#screen-meta-links .screen-meta-toggle {
  top: 1px;
}

#screen-meta-links {
  margin: 0;
}

#contextual-help-link-wrap,
#screen-options-link-wrap {
  border: none;
}

a,
button,
input {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #777777;
}

a:visited,
button:visited,
input:visited {
  color: #777777;
}

/**
* Admin header
*/
.mmp-admin-header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em 0 0;
  padding-bottom: 1em;
}

.admin-navigation-list li {
  display: inline;
  margin: 0 1em;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.admin-navigation-list li a {
  display: inline-block;
  position: relative;
  color: #777777;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .15s;
  transition: all .15s;
}

.admin-navigation-list li a:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -0.5em;
  left: 0;
  background: #777777;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.admin-navigation-list li:hover a:before,
.admin-navigation-list li.current-menu-item a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.mixes-dashboard-post-managment {
  margin-top: 2em;
  padding-top: 1em;
  border-top: solid 1px #cccccc;
}

/* Links */
a {
  color: #777777;
}

a:hover, a:active, a:focus {
  color: #777777;
}

#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
  color: #777777;
}

/* Forms */
input[type=checkbox]:checked:before {
  color: #777777;
}

input[type=radio]:checked:before {
  background: #999999;
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
  color: #999999;
}

/* Core UI */
.wp-core-ui .button-link {
  color: #444;
}

.wp-core-ui .button-link:hover,
.wp-core-ui .button-link:focus {
  color: #777777;
}

.wp-core-ui .button-primary,
.wp-core-ui .button {
  height: auto;
  background: #777777;
  border: none;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 0.85em;
  font-weight: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: none;
  border-radius: 0px;
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
  background: #aeaeae;
  border: none;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wp-core-ui .button-secondary:focus,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button.focus,
.wp-core-ui .button.hover,
.wp-core-ui .button:focus,
.wp-core-ui .button:hover {
  background: #aeaeae;
  color: #fff;
}

.wp-core-ui .button-primary:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wp-core-ui .button-primary:active,
.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary.active:hover {
  background: #ccc;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wp-core-ui .button-primary[disabled],
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary.button-primary-disabled,
.wp-core-ui .button-primary.disabled {
  color: #999999 !important;
  background: #ccc !important;
  border: none;
  text-shadow: none !important;
}

.wp-core-ui .button-primary.button-hero {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wp-core-ui .button-primary.button-hero:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wp-core-ui .wp-ui-primary {
  color: #fff;
  background-color: #523f6d;
}

.wp-core-ui .wp-ui-text-primary {
  color: #523f6d;
}

.wp-core-ui .wp-ui-highlight {
  color: #fff;
  background-color: #777777;
}

.wp-core-ui .wp-ui-text-highlight {
  color: #777777;
}

.wp-core-ui .wp-ui-notification {
  color: #fff;
  background-color: #d46f15;
}

.wp-core-ui .wp-ui-text-notification {
  color: #d46f15;
}

.wp-core-ui .wp-ui-text-icon {
  color: #fff;
}

h2.title,
form h2 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #777777;
}

/* List tables */
.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
  padding: 1em;
  background: inherit;
  border-radius: 0px;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #777777;
}

.wrap .add-new-h2:hover,
.wrap .page-title-action:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  color: #777777;
  background-color: #eee;
}

.view-switch a.current:before {
  color: #ccc;
}

.view-switch a:hover:before {
  color: #777777;
}

#titlediv {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #777777;
}

#titlediv #title-prompt-text {
  padding: 0;
  top: 5px;
  left: 10px;
}

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #eee;
}

#adminmenu {
  margin: 0;
}

#adminmenu a {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-weight: 500;
  color: #777777;
}

#adminmenu .wp-submenu-head,
#adminmenu a.menu-top {
  font-weight: bold;
  font-weight: 600;
}

body:not(.folded) #adminmenu a {
  padding-left: 1em !important;
}

#adminmenu a.menu-top {
  font-size: 1.075em;
  text-transform: uppercase;
}

body:not(.folded) .wp-menu-image {
  display: none;
}

#adminmenu div.wp-menu-image:before {
  color: #777777;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #777777;
  background-color: #ccc;
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #fff;
}

#adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover, #dashboard_right_now .versions .b, #ed_reply_toolbar #ed_reply_strong, #pass-strength-result.short, #pass-strength-result.strong, #post-status-display, #post-visibility-display, .feature-filter .feature-name, .item-controls .item-order a, .media-item .percent, .nav-tab, .plugins .name {
  font-weight: normal;
  font-weight: 400;
}

#adminmenu .wp-submenu li.current a:before {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 -0.35em;
  font-family: 'Dashicons';
  font-size: 2em;
  content: '\f139';
}

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: #fff;
  border-bottom-color: #fff;
}

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #ddd;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #ddd;
}

#adminmenu .wp-submenu .wp-submenu-head {
  color: #777777;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #777777;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
  background: #ddd;
  color: #777777;
}

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #777777;
}

#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
  color: #777777;
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  display: none;
  border-right-color: #fff;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #777777;
  background: #ccc;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
  color: #fff;
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins,
#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #fff;
  background: #d46f15;
}

/* Admin Menu: collapse button */
#collapse-button,
#collapse-button:hover,
#collapse-button:focus {
  color: #777777;
}

/**
* Welcome panel
*/
.welcome-panel {
  padding: 1em 0 0;
  border-top: solid 0px #eee !important;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.welcome-panel h3,
.welcome-panel h4,
.mixes-dashboard-post-type-actions a {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-weight: 600;
  color: #777777;
}

.welcome-panel h3,
.welcome-panel h4 {
  font-size: 1.0625rem;
  text-transform: uppercase;
  letter-spacing: 0.0475em;
}

.mixes-dashboard-post-type-actions li {
  border: solid 1px #ccc;
}

.mixes-dashboard-post-type-actions li p {
  text-align: center;
}

.mixes-dashboard-post-type-actions li a {
  font-size: 0.9375rem;
}

.mixes-dashboard-post-type-actions-icon .dashicons:before,
.mixes-dashboard-content-actions-icon .dashicons:before {
  color: #777777;
}

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #777777;
  border-color: #777777;
}

.wp-pointer .wp-pointer-content h3:before {
  color: #777777;
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: #777777;
}

/* Media */
.media-item .bar,
.media-progress-bar div,
.wp-core-ui .attachment.details .check, .wp-core-ui .attachment.selected .check:focus, .wp-core-ui .media-frame.mode-grid .attachment.selected .check {
  background-color: #777777;
}

.details.attachment {
  -webkit-box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #777777;
          box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #777777;
}

.attachment.details .check {
  background-color: #777777;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #777777;
          box-shadow: 0 0 0 1px #fff, 0 0 0 2px #777777;
}

.media-selection .attachment.selection.details .thumbnail,
.media-frame.mode-grid .attachment.details {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px #777777;
          box-shadow: 0 0 0 1px #fff, 0 0 0 3px #777777;
}

.media-frame.mode-grid .attachment.details:focus,
.media-frame.mode-grid .attachment:focus,
.media-frame.mode-grid .selected.attachment:focus {
  -webkit-box-shadow: inset 0 0 2px 3px #fff, inset 0 0 0 7px #777777;
          box-shadow: inset 0 0 2px 3px #fff, inset 0 0 0 7px #777777;
  outline: 0;
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
  background: #777777;
}

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
  color: #777777;
}

.theme-browser .theme.active .theme-actions {
  background: inherit;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.theme-browser .theme .theme-name {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #777777;
}

.theme-overlay .theme-name {
  color: #777777;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.theme-browser .theme .more-details {
  background: #777777;
  text-shadow: none;
}

.theme-overlay .current-label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background: #999999;
  color: #fff;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
  padding: 1em;
  border-radius: 0px;
}

.theme-overlay .parent-theme {
  background: #fff;
  border: 1px solid #ccc;
  border-left: 4px solid #777777;
}

.theme-section.current,
.theme-filter.current {
  border-bottom-color: #523f6d;
}

body.more-filters-opened .more-filters {
  color: #fff;
  background-color: #523f6d;
}

body.more-filters-opened .more-filters:before {
  color: #fff;
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
  background-color: #777777;
  color: #fff;
}

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
  color: #fff;
}

/* Widgets */
div#widgets-left .sidebar-name h2,
div#widgets-left .sidebar-name h3,
div#widgets-right .sidebar-name h2,
div#widgets-right .sidebar-name h3 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #777777;
}

.widgets-chooser li.widgets-chooser-selected {
  background-color: #777777;
  color: #fff;
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #fff;
}

/* Plugins */
.plugins .active td, .plugins .active th {
  background: #fff;
}

.plugin-update-tr.active td,
.plugins .active th.check-column {
  border-left-color: #777777;
}

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #eee;
}

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #777777;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #fff;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
  color: #fff;
}

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background: #777777;
}

#post-body #visibility::before, #post-body .misc-pub-post-status::before, #post-body .misc-pub-revisions::before, .curtime #timestamp::before, span.wp-media-buttons-icon::before {
  color: #fff;
}

/**
* Advanced Custom Fields
*/
.acf-postbox.seamless > .acf-fields > .acf-tab-wrap .acf-tab-group li.active a {
  background: #fff !important;
}

.acf-switch.-on,
.acf-button-group label.selected {
  background: #46b450 !important;
  border-color: #46b450 !important;
}

.acf-switch.-on .acf-switch-slider {
  border-color: #46b450 !important;
}

.acf-switch .acf-switch-on,
.acf-button-group label.selected {
  text-shadow: none !important;
  font-weight: bold;
}
