/**
 * TinyMCE Editor Styles
 */
/**
 * SASS/SCSS variables
 *
 * The following variables are used in other .scss files.
 * Make sure that this files is called early in style,scss.
 *
 * @link https://sass-lang.com/documentation/variables
 */
/**
 * Colors
 *
 * Some variables use colors set by args in the functions file.
 *
 * @see functions.php/setup
 *
 * Theme color options: #54545a, #6f6d72, #93939a, #c1bfc3
 */
/**
 * Font sizes
 *
 * The font size variables presume a browser default of 16px,
 * in which case the variable number is equivelent to a px number.
 *
 * SASS compiler may not like variables beginning with a numeral.
 */
/**
 * Typography
 */
body {
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #333333;
}

.serif {
  font-family: 'Hoefler Text', 'Baskerville Old Face', Garamond, Times, 'Times New Roman', serif;
}

.entry-content,
.sidebar,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 1em;
}

h1,
h2,
h3 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
  color: #6f6d72;
}

h1 a:visited,
h2 a:visited,
h3 a:visited {
  color: #6f6d72;
}

h1 a:hover, h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus {
  color: #5876a8;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #6f6d72;
}

h1.page-title,
h2.page-title {
  font-size: 1.625rem;
  text-transform: none;
}

h1.page-title a,
h2.page-title a {
  display: inline-block;
  line-height: 1;
  border-bottom: dotted 2px #93939a;
}

h3 {
  font-size: 1.3125rem;
  font-weight: 500;
  color: #54545a;
}

h4 {
  font-size: 1.3125rem;
  font-weight: 600;
  color: #54545a;
}

.page-title {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.3125rem;
  font-weight: 500;
  color: #54545a;
}

a,
.taxonomy-heading-links a {
  color: #5876a8;
  text-decoration: none;
}

a:visited,
.taxonomy-heading-links a:visited {
  color: #5876a8;
}

a:hover, a:focus,
.taxonomy-heading-links a:hover,
.taxonomy-heading-links a:focus {
  color: #7093c2;
}

.entry-content ul:not(.gallery):not(.posts-grid-list),
.sidebar-widgets ul,
.entry-content ol,
.sidebar-widgets ol {
  padding-left: 1em;
}

b,
strong {
  color: #54545a;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
